<h1>Review: <%= @review.name %></h1>
<h2>Product: <%= @album.name %></h2>
<h3><%= @review.lyrics %></h3>

<p><%= link_to "Edit review", edit_album_review_path(@album, @review) %></p>
<p><%= link_to "Delete review", album_review_path(@album, @review),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to album", album_path(@album) %></p>
